/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */



  /* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  background-color: #979DAC;
}
nav {
  background: #222;
  padding: 0 15px;
}
footer {
  min-height:50px;
  padding-left: 1em;;
}

a {
  color: white;
  text-decoration: none;
}

a.more {
  color: rgb(0, 0, 0);
  border-style: solid;
  border-color: rgb(41, 41, 41);
  padding: 2px 10px 5px 10px;
}

.menu,
.submenu {   
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

header h2 {
  margin: 0px 0px 0px 10px;
/*   padding:5px; */
}
.container {
  background-color:blue;
  width:80%;
  margin: 0 auto;
}
header {
  background-color: grey;
}
header::after {
  content: '';
  display: table;
  clear: both;
}


body {
  /* padding: 1em; */
  margin: 0;
  background-color: lightgrey;
/*   display: flex; */
}
.main, .home-links {
  margin:10px;
  padding:5 em;
  background-color: white;
  font-size: 20px;
}

.main {
  padding: 1em;
}


.main h2 {
  padding: 1px;
}
.main p {
  padding:1em;
}

.home-links {
  color:black;
  padding: 1em;
}
.home-links a {
  color: black;
}

.interest-links {
  list-style: none;
  background-color:lightblue;
  display:table;
  width: 100%;
  
  gap: 10px;
  float: center;
}
.main li {
  display:inline-block;
  margin:10px;
}

.interest-links a {
  text-decoration: none;
}

/* Layout of the interest posts */
#intro > .posts {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
  width: 100%;
  padding:0;
}
#intro > .posts > * {
  flex-shrink: 1;
  flex-grow: 0;
  padding: 4rem;
  width: 33%;
}

#intro > .posts > article {
  border-color: #eeeeee;
  border-left-width: 2px;
  border-style: solid;
  border-top-width: 2px;
  text-align: center;
}

.underline {
  text-decoration: underline;
}

/* Actions */

ul.actions {
  display: flex;
  cursor: default;
  list-style: none;
  margin-left: -1rem;
  padding-left: 0;
}

ul.actions li {
  padding: 0 0 0 1rem;
  vertical-align: middle;
}

ul.actions.explore {
  justify-content: center;
  width: 100%;
  margin-left: 0;
  border: black 2px;
  color: black;
}

ul.actions.explore li:first-child {
  padding-left: 0;
}

/* Image */

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image.left, .image.right {
  max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.left {
  float: left;
  margin: 0 2rem 2rem 0;
  top: 0.75rem;
}

.image.right {
  float: right;
  margin: 0 0 2rem 2rem;
  top: 0.75rem;
}

.image.fit {
  display: block;
  margin: auto;
  margin-bottom: 2.5rem;
  width: 100%;
}

.image.fit:first-child {
  margin-top: 0;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: auto;
  margin-bottom: 2.5rem;
  width: 85%;
}

.image.proj {
  display: block;
  margin: auto;
  margin-bottom: 2.5rem;
  width: 100%;
}

.image.main:first-child {
  margin-top: 0;
}

.image.main img {
  width: 100%;
}

  @media screen and (max-width: 736px) {

    .image.fit {
      margin: 2rem 0;
    }

    .image.main {
      margin: 2rem 0;
    }

  }

a.image {
  padding-top: 1em;
  overflow: hidden;
}

a.image img {
  transition: transform 0.2s ease-out;
}

a.image:hover img {
  transform: scale(1.05);
  }

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}





/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary { /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
 display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900; 
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}




/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
      justify-content: center;
  }
  .logo {
      flex: 1;
  }
  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      flex: 1;
      text-align: right;
      order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
      padding: 10px 15px;
      margin: 5px 0;
  }
  .button a {
      background: #0080ff;
      border: 1px royalblue solid;
  }
  .button.secondary {
      border: 0;
  }
  .button.secondary a {
      background: transparent;
      border: 1px #0080ff solid;  
  }
  .button a:hover {
      text-decoration: none;
  }
  .button:not(.secondary) a:hover {
      background: royalblue;
      border-color: darkblue;
  }
}


/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
      align-items: flex-start;     
      flex-wrap: nowrap;
      background: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
      position: relative;
      display: block; 
      width: auto;
  }
  .button {
      order: 2;
  }
  .submenu-active .submenu {
      display: block;
      position: absolute;
      left: 0;
      top: 68px;
      background: #111;
  }
  .toggle {
      display: none;
  }
  .submenu-active {
      border-radius: 0;
  }

  
}

